[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
structlog = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
mypy = "*"
flake8-bugbear = "*"

[requires]
python_version = "3.11"
