name: Test

on:
  pull_request:
  push:
    branches:
      - "main"

env:
  UV_LOCKED: 1  # Ensure lockfile is up to date at test time

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: make bootstrap
      - run: make check
      - run: make test
